*{
    margin: 0;
    padding: 0;
  }
#canvas-container{
  position: relative;
  z-index: 10000;
  .canvas-img{
    position: relative;
    canvas{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 2;
    }
    img{
      width: 400px;
      position: relative;
      z-index: 1;
    }
  }
}
